<html>
<head>
<title></title>
</head>
<body>
<form action="/checkout" method="post">

        <p>Enter an item to purchase</p>
        <p><input type='text' name='item'></p>
        <p><input type='submit' id='submit'></p>
    </form>
</body>
</html>
