<!DOCTYPE html>
<html>
    <body>
        <h1>What to purchase?</h1>
        <form action="/checkout" method="POST">
            <label for="item">Name of item:</label>
            <input type="text" name="item" id="item">
            <br>
            <input id= "submit" type="submit" value="submit">

         
        
        </form>
    </body>
</html>